.vert-offset-top-5{
    margin-top: 5em;
}
.vert-offset-top-4{
    margin-top: 4em;
}
.vert-offset-top-3{
    margin-top: 3em;
}
.vert-offset-top-2{
    margin-top: 2em;
}
.vert-offset-top-1{
    margin-top: 1em;
}
.vert-offset-top-0{
    margin-top: 0em;
}

.thumbnail {
    border: 0;
}


.btn1 {
    border: 0;
    border-bottom: 5px solid white;
}

.btn2 {
    border: 0;
    border-bottom: 5px solid white;
}
.btn3 {
    border: 0;
    border-bottom: 5px solid white;
}
.btn1:hover  {
    background-color: white;
    color: black;
    border-bottom: 5px solid #d75a4a;
}

.btn2:hover  {
    background-color: white;
    color: black;
    border-bottom: 5px solid #d75a4a;
}

.btn3:hover  {
    background-color: white;
    color: black;
    border-bottom: 5px solid #d75a4a;
}

.separator {
    padding-bottom: 200px;
    border-bottom: 10px solid #c7cac7;
}

.profile_menu {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ancre {
    margin: 0;
    display: block;
    text-decoration: none;
    color: inherit;
}

.ancre:hover {
    margin: 0;
    display: block;
    text-decoration: none;
    color: inherit;
}

.accept:hover {
    background-color: #4cae4c;
    color: white;
}

.refuse:hover {
    color: white;
    background-color: firebrick;
}

.conv a{
    background-color: #4cae4c;
    color: white;
}

.conv:hover a {
    background-color: #FFAFFF!important;
}

.nav-pills>li>a {
    border-radius: 0;
}

.profile {
    border: 2px solid #e2e2e2;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.profile p {
    margin-top: 20px;
}

.navbar {
    margin-bottom: 0px;
}

.rainbow a {
    background-color: #337ab7!important;
    color: white;
}

.city {
    display: inline-block;
}