.navbar-default {
	border-bottom: 2px solid #33CCFF!important;
}

.navbar-default .navbar-brand {
	color: #33CCFF!important;
}

h1 {
	color: #33CCFF!important;
}

.btn-primary {
	background-color: #33CCFF!important;
	border-color: #33CCFF!important;
}

/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}